.foto-perfil {
    border: 5px solid rgb(255, 255, 255);
    height: 20%;
    width: auto;
    max-width: 20%;
    border-radius: 50%;
}

.corPrimaria {
    background-color: orangered;
}

.corSecundaria {
    background-color: gray;
}

.secaoPrimaria{
    background-color: black;
    align-items: center;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.descFooter{
    color: gray;
}

.footer{
    background-color: black;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
}

.bordaIcones{
    border-color: white;
}

.indentar{
    text-indent: 5 px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: black !important;   
}

ul{
    font-size: 16px;
}

.textoPegaPOha {
    padding-top: 3px;
    text-align: center;
    color: white;
    font-family: "Open Sans Condesed", sans-serif;
}

.bordaBotao{
    border-color: #ffffff;
    border-radius: 1px;
}

.icones {
    padding-left: 5px;
}

.titulosBrancos {
    text-decoration: underline;
    text-underline-position: below;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
}

.titulosLaranjaDes {
    text-decoration: underline;
    text-underline-position: below;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: orangered;
}

.titulosLaranja {
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: black;
}

.card-style{
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 7%;
    padding-bottom: 7%;
    align-items: center;
    height: 150;
    width: 150;
    max-height: 100%;
}

.flex-box {
    align-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
}